@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../fonts/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'MiFuentePersonalizada', Arial, sans-serif;
  padding: 20px;
  background-image: url(assets/fondo.png);
}

#contenedor-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  background-color: rgb(251, 233, 246);
}

#lista {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 30px;
}

a{
    font-style: normal;
    color: black;
    text-decoration: none;
}



h1{
    font-family: 'MiFuentePersonalizada', sans-serif !important;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff; /* Color de relleno blanco */
    -webkit-text-stroke: 1px #f6c1e4; 
    
    /* Ajuste de espaciado entre letras */
    letter-spacing: -1px;
    margin: 0;
}

h2{
    font-family: 'MiFuentePersonalizada', sans-serif !important;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff; /* Color de relleno blanco */
    -webkit-text-stroke: 1px #f6c1e4; 
     letter-spacing: -1px;} 