body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#contenedor-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

#lista {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 30px;
}

a{
    font-style: normal;
    color: black;
    text-decoration: none;
}